.container {
  text-align: center;
}

.error404 {
  font-size: 125px;
  color: firebrick;
  margin: 0;
}

.link {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
}